/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .overallInfo-item{
        width: 23%;
        padding: 20px;
    }
    .overallInfo-item > img{
        max-width: 100px;
    }
    table thead tr th img {
        margin-left: 0px;
    }
    .overallInfo-item h2 { 
        margin: 15px 0; 
    }
    .method-item{
        width: 23%;
    }
    .price_top > img {
        height: 50px; 
    }
    .tutorial-item {
        width: 48%;
    }
    .chart__item span {
        font-size: 11px;
    }
    
    .ch__content h4 {
        font-size: 18px;
    }
    
    .Trading__blk .flex span {
        font-size: 11px;
    }
    
    .Trading__blk .flex h4 {
        font-size: 18px;
    }
    
    .Trading__blk .flex i img {
        max-width: 60px;
    }
}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .hero-wrap h1 {
        font-size: 58px; 
        margin-bottom: 15px;
    }
    section.welcome > img { 
        max-height: 200px;
    }
    section.price > img:first-child {
        top: 3%;
        left: 19%;
        max-width: 185px;
    }
    .adv_item { 
        width: 31%;
    }
    .adv_item img {
        height: 200px; 
    }
    .overallInfo-item{
        width: 48%;
    }
    table thead tr th, table tbody tr td {
        padding: 10px;
        font-size: 14px;
    }
    table thead tr th img {
        margin-left: 0px;
        max-height: 11px;
    }
    .method-item{
        width: 23%;
    }

    .affiliate-links h3{
        font-size: 22px;
    }
    .redeem-item .price_top > img {
        height: 50px; 
    }

    .redeem-item .price_contents ul li { 
        font-size: 13px;
    }
    .tutorial-item {
        width: 48%;
    }
    .Balance__content {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    
    .Balance__content h5 {
        margin-bottom: 25px;
    }
    
    .Balance__content h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .Balance__content p {
        font-size: 15px;
        margin-bottom: 35px;
    }
    
    .Balance__content .coin {
        max-width: 137px;
        top: 30%;
    }
    .Invoicing__wrp .overallInfo-item {
        padding: 17px 15px;
    }
    
    .Ch__name h5 {
        font-size: 14px;
    }
    
    .ch__content h4 {
        font-size: 17px;
    }
    
    .ch__content i {
        max-width: 45px;
        margin-bottom: -7px;
    }


    .transaction__options{
        flex-wrap: wrap;
    }
    .transaction__options label{
        width: 100% !important;
    }
    label.search_input input{
        max-width: 100%;
    }
    .table-search {
        width: 100%;
        margin: 0;
    }

    .table-selects {
        width: 100%;
    }
    
    .table-selects .nice-select {
        width: 100%;
    }
    .ad_v .right-actions .table-selects .nice-select{
        margin-bottom: 20px;
    }
    .tk-item > h4 { 
        font-size: 15px;
    }
    .tk-bottom-wrap img {
        max-width: 50px;
        margin-right: 10px;
    }
    .ticket-items { 
        gap: 15px; 
    }











}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .hero-wrap h1 {
        font-size: 68px;
    }
    
    section.features > img:first-child {
        max-width: 180px;
    }
    
    .section-title h2 {
        line-height: 40px;
    }
    
    section.features > img {
        max-width: 70px;
        top: 43%;
    }
    
    section.welcome > img:first-child {
        max-width: 180px;
    }
    
    section.welcome > img {
        max-width: 150px;
        bottom: -120px;
    }
    
    section.price > img:first-child {
        max-width: 150px;
        top: 2%;
        left: 10%;
    }
    
    .adv_item img {
        height: 140px;
    }
    
    .adv_item h2 {
        font-size: 20px;
    }
    
    .adv_item {
        width: 30%;
    }
    
    .adv_item:nth-child(2) {
        top: 130px;
    }
    
    section.advantage {
        padding: 100px 0 150px 0;
    }
    
    section.faq > img:first-child {
        max-width: 160px;
        left: -57px;
    }
    
    section.faq > img:nth-child(3) {
        max-width: 55px;
    }
    
    section.faq > img:nth-child(2) {
        max-width: 110px;
    }
    
    section.contact > img {
        max-width: 280px;
        top: -130px;
    }
    .method-item{
        width: 44%;
    }
    .method-item:nth-child(2)::after,.method-item:nth-child(2)::before{
        display: none;
    }
    section.dashboard > aside{
        width: 240px;
        padding: 25px 0px 15px 20px;
    }
    section.dashboard{
        padding-left: 240px;
    }
    section.dashboard > aside > div > a.logo img { 
        max-width: 190px;
    }
    .notifs { 
        margin-right: 15px;
        padding-right: 15px; 
    }
    .dashboard-header-right .avatar_infos{
        width: 137px;
    }
    .overallInfo-item {
        width: 47%;
    } 
    .price_contents ul li{
        font-size: 12px;
    }
    .price_contents h2 {
        font-size: 18px; 
    }
    .Date__Range {
        margin-top: 15px;
    }
    .nolose-top-wrap h4 {
        font-size: 15px;
    }
    
    .nolose-top-wrap p {
        font-size: 11px;
    }
    
    .nolose-pricing-wrap p {
        font-size: 12px;
    }
    
    .nolose-pricing-wrap h1 {
        font-size: 24px;
    }
    
    .nolose-pricing-wrap > button {
        padding: 6px 10px;
        font-size: 14px;
    }
    
    .nolose-item {
        padding: 20px 25px;
    }

    .redeem-item .price_top > img {
        height: 50px; 
    }

    .redeem-item .price_contents ul li { 
        font-size: 13px;
    }
    .redeem-item .price_top > div h2 { 
        font-size: 15px; 
    }
    .tutorial-item {
        width: 100%;
    }
    .right-actions > div{
        flex-wrap: wrap;
    }
    .Date__Range .two.fields{
        flex-wrap: wrap;
        margin-top: 0;
    }

    .transaction__options { 
        gap: 10px; 
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .Balance__content {
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    
    .Balance__content h5 {
        margin-bottom: 25px;
    }
    
    .Balance__content h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    
    .Balance__content p {
        font-size: 15px;
        margin-bottom: 35px;
    }
    
    .Balance__content .coin {
        max-width: 137px;
        top: 30%;
    }
    .transaction__options label{
        width: 100% !important;
    }
    label.search_input input{
        max-width: 100%;
    }
    .table-search {
        width: 100%;
        margin: 0;
    }

    .table-selects {
        width: 100%;
    }
    
    .table-selects .nice-select {
        width: 100%;
    }
    .ad_v .right-actions .table-selects .nice-select{
        margin-bottom: 20px;
    }
    .tk-item {
        width: 47%; 
    }

}

 
/* small screen :320px. */
@media (max-width: 767px) {
    .header-wrap { 
        padding: 10px; 
    }
    .header-area { 
        top: 20px; 
    }
    input, select, textarea {
        padding: 5px 10px;
        border-radius: 5px;
        margin-top: 5px;
    }
    .bar a {
        width: 28px;
        height: 28px; 
        margin-right: 8px;
    }
    input, select {
        height: 40px;
    }
    
    form.section_form ul li a {
        padding: 6px 10px;
        margin: 0 4px;
        margin-top: 14px;
    }
    
    form.section_form ul li a img {
        margin-right: 5px;
    }
    
    form.section_form > img:last-child {
        left: -20px;
        max-width: 170px;
        bottom: -110px;
    }
    .hero-wrap h1 {
        font-size: 35px;
    }
    .hero-wrap p {
        font-size: 16px;
        font-weight: 500;
    }
    section.features > img:first-child {
        max-width: 90px;
        top: -45px;
    }
    section.hero { 
        padding-top: 120px; 
    }
    .hero-wrap .hero-btns button {
        margin: 0 5px;
        padding: 7px 10px;
    }
    .hero-wrap .hero-btns { 
        margin-top: 30px;
    }
    .hero-wrap > img { 
        max-width: 100%;
        width: 260px;
        margin-bottom: -4px;
    }


    .section-title h2 {
        line-height: 32px;
        font-size: 28px;
    }
    
    section.features > img {
        max-width: 70px;
        top: 43%;
    }
    .welcome-wrap h2 { 
        font-size: 28px;
    }
    .welcome-wrap { 
        font-size: 16px;
    }
    section.welcome > img:first-child {
        max-width: 180px;
    }
    
    section.welcome > img {
        max-width: 100px;
        bottom: -90px;
    }
    
    section.price > img:first-child {
        max-width: 115px;
        top: 1%;
        left: 0%;
    }
    
    .adv_item img {
        height: 140px;
    }
    
    .adv_item h2 {
        font-size: 20px;
    }
    
    .adv_item {
        width: 100%;
    }
    
    .adv_item:nth-child(2) {
        top: 0px;
    }
    .priceBlk{
        margin-bottom: 30px;
    }
    section.price > img { 
        bottom: -1%; 
        max-width: 120px;
    }




    section.advantage {
        padding: 70px 0 70px 0
    }
    
    section.faq > img:first-child {
        max-width: 100px;
        left: -40px;
    }
    .section-title img {
        max-height: 90px;
        margin-bottom: 10px;
    }
    section.faq > img:nth-child(3) {
        max-width: 30px;
    }
    .accordion-item button.accordion-button img {
        margin-right: 5px;
        max-width: 21px;
    }
    section.faq > img:nth-child(2) {
        max-width: 60px;
    }
    .accordion-item button.accordion-button{
        font-size: 15px;
    }
    section.contact > img {
        max-width: 200px;
        top: -105px;
    }
    .contact-wrap .section-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .contact-info-items {
        flex-wrap: wrap;
    }
    .contact-item{
        width: 100%;
    }
    section.contact {
        padding-bottom: 30px;
    }

    .method-item{
        width: 100%;
        height: auto;
    }
    .method-item:after {
        width: 5px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -35px;
        top: auto;
    }
    
    .method-item:before {
        top: auto;
        left: 50%;
        transform: translatex(-50%) rotate(45deg);
        bottom: -35px;
        right: auto;
    }





}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
